*

!.gitignore
!.gitmodules
!.bash_profile
!.xinitrc
!.bashrc
!.voidBuild/*
!.config/feh/*
!.config/fzf/*
!.config/loadkeys/*
!.config/mpv/*
!.config/nnn/*
!.config/sxhkd/*
!.config/tmux/*
!.config/vim/*
!.config/zathura/*
!.config/tmux/*


*.tmp
*.cache
*.log
