.Natron/
.cache/
.dbus/
.git/
.local/
.npm/
.pki/
.ssh/
.thumbnails/
.wine/
.wine64/
Downloads/
Pictures/
Videos/
backup/
drives/
files/
.Xauthority
.bash_history
*.tmp
.bash_logout
.fehbg
.gitconfig
*.swp
.inputrc
.lesshst
.nvidia-settings-rc
*.swo
.viminfo
.viminfo
.wget-hsts
.wpa_cli_history
.config/GIMP/
.config/INRIA/
.config/Mousepad/
.config/Natron-qt.conf
.config/QtProject.conf
.config/btop/
.config/coc/
.config/dconf/
.config/discord/
.config/galculator/
.config/glib-2.0/
.config/gtk-2.0/
.config/kdeglobals
.config/kdenlive-layoutsrc
.config/kdenliverc
.config/libreoffice/
.config/mimeapps.list
.config/notion-nativefier-46aee8/
.config/notioncalendar-nativefier-2b9c97/
.config/obs-studio/
.config/pulse/
.config/spotify-player/
.config/whatsapp-nativefier-d40211/
.mozilla/
.config/Code\ -\ OSS/
.pulse-cookie
.steam/
.steampath
.steampid
.var/
.vscode-oss/
.wine32/
.dreamchess/
.config/unity3d/
.config/chromium/
.android/
.Genymobile/
.config/Genymobile/
.config/menus/
