[submodule ".config/vim/plugged/auto-pairs"]
	path = .config/vim/plugged/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs.git
[submodule ".config/vim/plugged/fzf.vim"]
	path = .config/vim/plugged/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule ".config/vim/plugged/coc.nvim"]
	path = .config/vim/plugged/coc.nvim
	url = https://github.com/neoclide/coc.nvim.git
[submodule ".config/vim/plugged/gruvbox"]
	path = .config/vim/plugged/gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule ".config/vim/plugged/indentLine"]
	path = .config/vim/plugged/indentLine
	url = https://github.com/Yggdroot/indentLine.git
[submodule ".config/vim/plugged/lightline.vim"]
	path = .config/vim/plugged/lightline.vim
	url = https://github.com/itchyny/lightline.vim.git
[submodule ".config/vim/plugged/nerdtree"]
	path = .config/vim/plugged/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule ".config/vim/plugged/vim-closetag"]
	path = .config/vim/plugged/vim-closetag
	url = https://github.com/alvan/vim-closetag.git
[submodule ".config/vim/plugged/vim-snippets"]
	path = .config/vim/plugged/vim-snippets
	url = https://github.com/honza/vim-snippets.git
